/* 
   Used example from class as starting point: https://github.com/codefellows/seattle-code-201d100/blob/main/class-02/inclass-project-setup/css/style.css
*/

body {
  text-align: center;
  background-color: darkgrey;

}

h1 {
  font-size: 3vw;
  font-kerning: calc(5);
  margin: 1rem;
}
ol {
	list-style: normal;
  list-style-position: inside;
}

ul {
	list-style: disc;
  list-style-position: inside;
}

section {
  width: 80%;
  margin: 5rem auto 0 auto;
  height: auto;
  position: static;
}